@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4"> Welcome to Cowboy Cafe</h1>
    <p>
        We at Cowboy Cafe are proud to bring you authentic trail meals from the American West. Shake off the
        dust on your boots and sake your thirst with one of our old-fashioned hand-jerked sodas. Dip your Pan de
        Campo into a bowl of beans. Or conquer the the mighty Texas Triple Burger! You’ve had a hard ride - so
        take it easy with us.
    </p>
</div>
<h2>Entrees</h2>
<div class="menu-item">Angry Chicken,           $5.99, 190 cal</div>
<div class="menu-item">Cowpoke Chili,           $6.10, 171 cal</div>
<div class="menu-item">Dakota Double Burger,    $5.20, 464 cal</div>
<div class="menu-item">Pecos Pulled Pork,       $5.88, 528 cal</div>
<div class="menu-item">Rustlers Ribs,           $7.50, 894 cal</div>
<div class="menu-item">Texas Triple Burger,     $6.45, 698 cal</div>
<div class="menu-item">Trail Burger,            $4.50, 288 cal</div>

<h2>Sides</h2>
<div class="menu-item">Baked Beans,         Small - $1.59, 312 cal,     Medium - $1.79, 378 cal,    Large - $1.99, 410 cal</div>
<div class="menu-item">Chili Cheese Fries,  Small - $1.99, 433 cal,     Medium - $2.99, 524 cal,    Large - $3.99, 610 cal</div>
<div class="menu-item">Corn Dodgers,        Small - $1.59, 512 cal,     Medium - $1.79, 685 cal,    Large - $1.99, 717 cal</div>
<div class="menu-item">Pan de Campo,        Small - $1.59, 227 cal,     Medium - $1.79, 269 cal,    Large - $1.99, 367 cal</div>

<h2>Drinks</h2>
<div class="menu-item">Cowboy Coffee,       Small - $0.60, 3 cal,       Medium - $1.10, 5 cal,      Large - $1.60, 7 cal</div>
<div class="menu-item">Jerked Soda,         Small - $1.59, 110 cal,     Medium - $2.10, 146 cal,    Large - $2.59, 198 cal</div>
<div class="menu-item">Texas Tea,           Small - $1.00, 10 cal,      Medium - $1.50, 22 cal,     Large - $2.00, 36 cal</div>
<div class="menu-item">Water,               $0.12, 0 cal</div>